.program-wrapper{
    max-width:780px;
    margin:auto;
    text-align: left;
    .program-container{
        margin-top:6rem;
        .program-item{
            padding:0.5rem 1rem;
            h2{
                font-family: "Muli Bold";
                font-weight:bold;
                padding:1rem 0;
            }
            
        }
    }
}