.program-wrapper {
  max-width: 780px;
  margin: auto;
  text-align: left;
  .program-container {
    margin-top: 6rem;
    .program-item {
      padding: 0.5rem 1rem;
      h2 {
        font-family: "Muli Bold";
        font-weight: bold;
        padding: 1rem 0;
      }
      h3 {
        text-decoration: underline;
        font-weight: bolder;
        margin-top: 1rem;
      }
      .first {
        margin-top: 0;
      }

      ul {
        margin: 1rem 0;
        font-size: 18px;
        li {
          list-style-type: disc;
        }
      }
      ul:last-child {
        margin-bottom: 0;
      }
      .paradox ~ p {
        margin-bottom: 1rem;
      }
      .paradox ~ img {
        width: 100%;
      }
      span {
        font-size: 18px;
        font-style: oblique;
        color: #58A75D;
      }
      span ~ p{
          margin: 1rem 0 3rem 0;
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .program-wrapper {
    margin: 0;
    padding: 5%;
  }
}
@media only screen and (max-width: 425px) {
  .program-wrapper {
    .program-container {
      .program-item {
        ul {
          font-size: inherit;
        }
        span {
          font-size: inherit;
        }
      }
    }
  }
}
