.testimonial-wrapper{
    max-width:780px;
    margin:auto;

    .testimonial-container{
        margin-top:6rem;
        .testimonial-item{
            margin-top:2rem;
            .testimonial-name{
                text-align:center;
                p{
                    padding:0.7rem 1rem;
                }
                h2{
                    padding:0 1rem;
                    font-family:"Muli Bold";
                    font-size:25px;
                }
            }
            .testimonial-text{
                text-align: center;
                padding:1rem 1rem;
                
                span{
                    color:#58A75D;
                    font-family: cursive;
                    font-size:50px;

                }
            }
        }
    }
}