@font-face {
  font-family: "Mulish-Regular";
  src: local("Mulish"),
  url("../fonts/Mulish-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Mulish-Bold";
  src: local("Mulish"),
  url("../fonts/Mulish-Bold.ttf") format("truetype");
}
