@font-face {
  font-family: "Mulish-Regular";
  src: local("Mulish"), url("../src/assets/Mulish/static/Mulish-Regular.ttf") format('truetype');
}

@font-face {
  font-family: "Mulish-Bold";
  src: local("Mulish"), url("../src/assets/Mulish/static/Mulish-Bold.ttf") format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

body {
  margin: 0;
  font-family:"Mulish-Regular";
}

h1, h3{
  font-family:"Mulish-Bold";
}
p{
    font-family:"Mulish-Regular";

}

